
/* Navigation Menu */
.navbar {
    background-color: #70FF99;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 8px 5px 8px 5px;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
    background-color: #D2FCD6;
}

.logo {
    background-color: #D2FCD6;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 10%;
    height: auto;
}
.button {
    background-color: #D2FCD6;
    text-align: center;
    font-size: 1em;
    padding: 1rem 0em 1rem 0rem;
    width: 90%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    transition-duration: 0.2s;
}
.button:hover {
    background-color: #cbfad0;
}

/* Login and Register Page */

.login-container {
  width: 50%;
  margin: auto;
  text-align: center;
  background-color: #59e280;
}
.tab {
  display: inline-block;
  width: 49%;
  padding: 1rem 0rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}
.tab-content {
  display: none;
}
.active {
  display: block;
}
.errorPopup {
  display: none; /* Initially hide the popup */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; /* Set background color */
  padding: 20px;
  border: 1px solid #ccc; /* Add a border for better visibility */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  z-index: 1000; /* Set a high z-index to ensure it appears above other elements */
}

/* Style for the close button */
#errorPopup .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


/* Seed Library and My Plants CSS */
.seedPlantHeader {
    width: 75%;
    margin: auto;
    background-color: #70FF99;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.addItemButton {
    flex-basis: 14%;
}
.removeItemButton {
    flex-basis: 14%;
}
.refineItemButton {
    flex-basis: 14%;
}
.searchBar{
    flex-basis: 54%;
    display: flex;
    justify-content: right;
}
.searchBar input[type=text] {
    width: 65%;
    background-color: #D2FCD6;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}
.BasicInfo {
    width: 75%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 95% 5%;
}
.InfoButton {
    width: 100%;
    background-color: #7dffa2;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.InfoButton img {
    max-width: 80%;
    max-height: 80%;
}
.SeedName {
    flex-basis: 30%;
}
.PlantType {
    flex-basis: 30%;
}
.PlantSeason {
    flex-basis: 25%;
}


/* Container for checkbox */
.container { 
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* Hides default checkbox */
.container input { 
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Creates new checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 3rem;
    background-color:#59e280;
    border-radius: 8px;
  }
  /* When mouse hovers, change to a light green background colour */
.container:hover input ~ .checkmark {
    background-color:#7dffa2;
  }
  /* When the checkbox has been clicked, change colour */
  .container input:checked ~ .checkmark {
    background-color:#70FF99;
  }
  /* Create the checkmark */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  /* Style the checkmark*/
  .container .checkmark:after {
    left: 15px;
    top: 10px;
    width: 25%;
    height: 50%;
    border: solid rgb(0, 0, 0);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  
  /* Seed Popup CSS */
  .seedPopup {
    width: 50%;
    background-color: #7dffa2;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #59e280;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: grid;
    grid-template-rows: 10% 90%;
    text-align: center;
    visibility: hidden;
  }
  /* Open popup window in seed library */
  .open-seedPopup { 
    visibility: visible;
  }
  .infoContainer {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    place-items: center;
    font-size: 1rem;
  }
  .seedImage {
    grid-area: 1 / 1 / 5 / 1;
  }
  .seedImage img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
  }
  .infoContainer button {
    padding: 1rem;
    width: 80%;
    outline: none;
    background: #D2FCD6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  }
  .infoBackground {
    width: 80%;
    background-color: #cbfad0;
  }

  /* Plant Popup */
  .PlantPopup {
    width: 50%;
    background-color: #7dffa2;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #59e280;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: grid;
    grid-template-rows: 10% 90%;
    text-align: center;
    visibility: hidden;
  }
  /* Open popup window in seed library */
  .open-PlantPopup { 
    visibility: visible;
  }


  /* Tasks Page */
  .tasksPage {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 2rem;
    justify-content: center;
  }
  /*Left*/
  .myTasks {
    background-color: #59e280;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .tasksDaily {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 1rem;
  }
  .tasksToday {
    background-color: #59e280;
    padding: 1rem;
  }
  .tasksCompleted {
    background-color: #59e280;
    margin-left: 20%;
    padding: 1rem;
    text-align: center;
  }
  .tasksTomorrow {
    background-color: #59e280;
    padding: 1rem;
    width: 55%;
    margin-bottom: 1rem;
  }
  
/*Right*/
.tasksWeekly {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 1rem;
}
.addTasks {
  background-color: #59e280;
  border: 1px solid #59e280;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
}
.weeklyTasks{
background-color: #59e280;
padding: 1rem;
}

/* Task Box */
.tasksBox {
  display: grid;
  grid-template-columns: 90% 10%;
  margin-bottom: 1rem;
}
.taskSelect {
  width: 100%;
  background-color: #70FF99;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  border: 1px solid #59e280;
  padding: 1rem;
}
.taskButton {
  width: 100%;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #70FF99;
  border: 1px solid #59e280;
}
.tomorrowTasks {
  display: grid;
  grid-template-columns: 90% 10%;
  margin-bottom: 1rem;
}
.tomorrowSelect {
  width: 100%;
  background-color: #70FF99;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  border: 1px solid #59e280;
  padding: 1rem;
}
.tomorrowButton {
  width: 100%;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #70FF99;
  border: 1px solid #59e280;
}

.taskPopup {
  width: 50%;
  height: 40%;
  background-color: #7dffa2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  visibility: hidden; 
}
.open-taskPopup { 
  visibility: visible;
}
.taskPopupLayout {
  display: grid;
  grid-template-columns: 50% 50%;
}
.addTaskPopup {
  width: 50%;
  background-color: #7dffa2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  visibility: hidden; 
}
.open-addTaskPopup {
  visibility: visible;
}


/* Home CSS */
.homeLayout {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 6%;
}
.homeTaskHeader {
  background-color: #59e280;
}
.homeInfo {
  background-color: #59e280;
  padding: 1rem;
  margin-bottom: 1rem;
}