body {
  background-color: #D2FCD6;
}
footer {
  margin-top: 2rem;
}
/* Navigation Menu */
.navbar {
    background-color: #70FF99;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 1rem 5px 1rem 5px;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 1rem;
}

.logo {
    background-color: #D2FCD6;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 10%;
    height: auto;
}
.button {
    background-color: #D2FCD6;
    text-align: center;
    font-size: 1em;
    padding: 1rem 0em 1rem 0rem;
    width: 90%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    transition-duration: 0.2s;
}
.button:hover {
    background-color: #cbfad0;
}
.mainHeader {
  background-color: #D2FCD6;
  padding-bottom: 2rem;
}

/* Home CSS */
.homeNonAuthenticatedLayout {
  display: grid;
  grid-template-rows: 10% 10% 69% 10%;
  row-gap: 1rem;
  width: 60%;
  margin: auto;
}
.homeNonAuthenticatedLayout h1 {
  text-align: center;
}
.homeSplitText {
  display: grid;
  grid-template-columns: 47% 47%;
  column-gap: 6%;
  grid-template-rows: 33% 33% 33%;
  row-gap: 1rem;
}
.homeSplitText img {
  height: 100%;
  max-width: 100%;
  border-radius: 8px;
  border: 1px solid #59e280;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container {
  background-color: white;
  padding: 20px;
  margin: 20px;
}
.tasks {
  margin-bottom: 20px;
}
.taskHome {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}
.calendar {
  border-collapse: collapse;
  width: 100%;
}
.calendar th,
.calendar td {
  border: 1px solid #98FB98;
  padding: 8px;
  text-align: center;
}
.calendar th {
  background-color: #98FB98;
}
.today {
  background-color: #4CAF50;
  color: white;
}


/* Login and Register Page */
.form-container {
  background-color: #F0FFF0;
  padding: 20px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.tab {
  overflow: hidden;
  cursor: pointer;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
  /* Set default text color to black for visibility */
}
.tab button:hover {
  background-color: #ddd;
  /* Light grey for hover */
}
.tab button.active {
  background-color: #ccc;
  /* Lighter grey for active tab */
  color: black;
  /* Keep text color black for visibility */
}
.tab-content {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.loginButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.loginButton:hover {
  opacity: 0.8;
}
.registerSelect {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* Additional styles for the account container */
.account-container {
  background-color: #F0FFF0;
  padding: 20px;
  margin: 10px auto;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.profile-picture {
  border: 2px solid #ccc;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  display: block;
  background-color: #fff;
}

.account-input {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.edit-link {
  font-size: 14px;
  float: right;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

.edit-link:hover {
  text-decoration: underline;
}


/* Seed Library and My Plants CSS */
.seedPlantHeader {
    width: 70%;
    margin: auto;
    background-color: #70FF99;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.seedItemButton {
    flex-basis: 14%;
}
.searchBar{
    flex-basis: 54%;
    display: flex;
    justify-content: right;
}
.searchButton {
  background-color: inherit;
  border: none;
}
.searchButton img {
  height: 2rem;
}
.seedItemButton select {
  background-color: #D2FCD6;
  text-align: center;
  font-size: 1em;
  padding: 1rem 0em 1rem 0rem;
  width: 90%;
  border: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
}
.searchBar input[type=text] {
    width: 65%;
    background-color: #D2FCD6;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}

/* Basic Info */
.BasicInfo {
    width: 70%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 95% 5%;
}
.InfoButton {
    width: 100%;
    background-color: #7dffa2;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.InfoButton img {
    max-width: 80%;
    max-height: 80%;
}
.infoDetails {
  flex-basis: 32%;
}

  /* Seed Popup CSS */
  .seedPopup {
    width: 50%;
    background-color: #7dffa2;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #59e280;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: grid;
    grid-template-rows: 15% 85%;
    text-align: center;
    visibility: hidden;
    padding: 1rem;
  }
  /* Open popup window in seed library */
  /* Seed Information Popup */
  .open-popup { 
    visibility:visible;
  }
  .infoContainer {
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 16% 16% 16% 16% 16% 16%;
    place-items: center;
  }
  .seedImage {
    grid-area: 1 / 1 / 5 / 1;
  }
  .seedImage img {
    object-fit: contain;
    max-width: 80%;
    max-height: 80%;
  }
  .infoContainer button {
    padding: 1rem;
    width: 80%;
    outline: none;
    background: #D2FCD6;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
  }
  .infoBackground {
    width: 80%;
    background-color: #cbfad0;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 1px solid #4cd172;
  }

  /* Add Seed Popup */
  #addSeedPopup {
    grid-template-rows: 90% 10%;
    height: 45%;
  }
  .addSeedLayout {
    display: grid;
    grid-template-columns: 50% 50%;
  }
#addSeedName {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: .5rem 0rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  }
.addSeedExit {
  width: 50%;
  outline: none;
  background: #D2FCD6;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 8px;
  margin: auto;
  font-size: 1rem;
  padding: .5rem 0rem;
  }
.addSeedLeft img {
  width: 50%;
  height: auto;
  margin-bottom: 1rem;
  }
.addSeedLeft input {
  margin-bottom: 1rem;
  }
.addSeedRight input {
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  }
.addSeedRight select {
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
  }

  /* Plant Popup */
.plantPopup {
  width: 50%;
  background-color: #7dffa2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: grid;
  grid-template-rows: 25% 75%;
  text-align: center;
  visibility: hidden;
  }
.infoContainerPlant {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 25% 25% 25% 25%;
  }
  .addPlantPopup {
  width: 40%;
  height: 40%;
  background-color: #7dffa2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  visibility: hidden;
  }
.open-plantPopup {
  visibility: visible;
  }
.tabPopup {
  display: inline-block;
  width: 49%;
  padding: 1rem 0rem;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #cbfad0;
  }
.tabPopup-content {
  display: none;
  }
.activeTab {
  display: inline-block;
  }
.seedLibraryTabLayout select{
  font-size: 1rem;
  background-color: #cbfad0;
  padding: .5rem;
  }
.newPlantButton {
  width: 45%;
  background-color: #cbfad0;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 1rem;
  }
  
  /* Tasks Page */
.tasksPage {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 2rem;
  justify-content: center;
  }
  /*Left*/
.myTasks {
  background-color: #59e280;
  margin-bottom: 1rem;
  padding: 1rem;
  }
.tasksDaily {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 1rem;
  }
.tasksToday {
  background-color: #59e280;
  padding: 1rem;
  }
.tasksCompleted {
  background-color: #59e280;
  margin-left: 20%;
  padding: 1rem;
  text-align: center;
  }
.tasksTomorrow {
  background-color: #59e280;
  padding: 1rem;
  width: 55%;
  margin-bottom: 1rem;
  }
  
/*Right*/
.tasksWeekly {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-bottom: 1rem;
}
.addTasks {
  background-color: #59e280;
  border: 1px solid #59e280;
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
}
.weeklyTasks{
background-color: #59e280;
padding: 1rem;
}

/* Task Box */
.tasksBox {
  display: grid;
  grid-template-columns: 90% 10%;
  margin-bottom: 1rem;
}
.taskSelect {
  width: 100%;
  background-color: #70FF99;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  border: 1px solid #59e280;
  padding: 1rem;
}
.taskButton {
  width: 100%;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #70FF99;
  border: 1px solid #59e280;
}
.tomorrowTasks {
  display: grid;
  grid-template-columns: 90% 10%;
  margin-bottom: 1rem;
}
.tomorrowSelect {
  width: 100%;
  background-color: #70FF99;
  text-align: left;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  border: 1px solid #59e280;
  padding: 1rem;
}
.tomorrowButton {
  width: 100%;
  font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
  font-size: 1rem;
  background-color: #70FF99;
  border: 1px solid #59e280;
}

.taskPopup {
  width: 50%;
  height: 40%;
  background-color: #7dffa2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  visibility: hidden; 
}
.open-taskPopup { 
  visibility: visible;
}
.taskPopupLayout {
  display: grid;
  grid-template-columns: 50% 50%;
}
.addTaskPopup {
  width: 50%;
  background-color: #7dffa2;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #59e280;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-align: center;
  visibility: hidden; 
}
.open-addTaskPopup {
  visibility: visible;
}

