.navbar {
    background-color: #70FF99;
    font-size: 2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    padding: 8px 5px 8px 5px;
    display: flex;
    justify-content: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-item {
    margin-left: 30px;
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #D2FCD6;
}

.logo {
    background-color: #D2FCD6;
}

.logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    max-width: 10%;
    height: auto;
}
.button {
    background-color: #D2FCD6;
    border: #cbfad0;
    text-align: center;
    font-size: 1em;
    padding: 1rem 0em 1rem 0rem;
    width: 90%;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 8px;
    transition-duration: 0.2s;
}
.button:hover {
    background-color: #cbfad0;
}


/* Seed Library and My Plants CSS */
.seedPlantHeader {
    width: 75%;
    margin: auto;
    background-color: #70FF99;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}
.addButton {
    flex-basis: 14%;
}
.removeButton {
    flex-basis: 14%;
}
.refineButton {
    flex-basis: 14%;
}
.searchBar{
    flex-basis: 54%;
    display: flex;
    justify-content: right;
}
.searchBar input[type=text] {
    width: 65%;
    background-color: #D2FCD6;
    border-radius: 8px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
}
.seedBasicInfo {
    width: 75%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #7dffa2;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.seedBasicInfo img {
    max-width: 80%;
    max-height: 80%;
}
.SeedName {
    flex-basis: 30%;
}
.PlantType {
    flex-basis: 30%;
}
.PlantSeason {
    flex-basis: 25%;
}

.container { /* Container for checkbox */
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.container input { /* Hides default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark { /* Creates new checkbox */
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }