body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.navbar {
	background-color: #70FF99;
	font-size: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	padding: 1rem 5px 1rem 5px;
	display: flex;
	justify-content: center;
}

.navbar a {
	text-decoration: none;
	color: inherit;
}

.navbar-item {
	margin-left: 30px;
}
.logo {
  background-color: #D2FCD6;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	padding-bottom: 1em;
	max-width: 10%;
	height: auto;
}

header {
	background-color: green;
	color: white;
	text-align: center;
	padding: 1rem 0;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 2rem;
}

.task-form {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;
}

.task-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
	border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
	background-color: #D2FCD6;
}

.task {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.task-form button {
	background-color: #28a745;
	color: white;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}
