{% for seed in user_seeds %}
    <div class="BasicInfo">
        <button class="InfoButton" onclick="openPopup('seedPopup{{ seed.id }}')">
            <img src="{{url_for('static', filename='uploads/seed_images/' + seed.image_filename)}}" alt="Seed Image">
            <div class="infoDetails">
                <p>{{ seed.name }}</p>
            </div>
            <div class="infoDetails">
                <p>{{ seed.plant_type }}</p>
            </div>
            <div class="infoDetails">
                <p>{{ seed.when_to_plant }}</p>
            </div>
        </button>
        <input type="checkbox" name="marked_seed" id="seed_{{ seed.id }}" value="{{ seed.id }}" onchange="updateCheckedSeeds('{{ seed.id }}')">
    </div>

    <!-- Seed Information Popup -->
    <div class="seedPopup" id="seedPopup{{ seed.id }}">
        <h2>{{ seed.name }}</h2>
        <div class="infoContainer">
            <div class="seedImage"> 
                <img src="{{url_for('static', filename='uploads/seed_images/' + seed.image_filename)}}" alt="Seed Image">
            </div>
            <div class="infoBackground"><p id="plantType"><b>Plant Type:</b> {{ seed.plant_type }}</p></div>
            <div class="infoBackground"><p id="germinateTime"><b>Germination Time:</b> {{ seed.germinate_time }} days</p></div>
            <div class="infoBackground"><p id="maturityTime"><b>Reaches Maturity in</b> {{ seed.maturity_time }} weeks</p></div>
            <div class="infoBackground"><p id="plantingDepth"><b>Planting Depth:</b> {{ seed.planting_depth }} mm</p></div>
            <div class="infoBackground"><p id="plantSpacing"><b>Plant Spacing:</b> {{ seed.plant_spacing }} cm</p></div>
            <div class="infoBackground"><p id="sunRequirement"><b>Sun Requirment: </b>{{ seed.sun_requirement }}</p></div>
            <div class="infoBackground"><p id="whenToPlant"><b>Season to plant:</b> {{ seed.when_to_plant }}</p></div>
            <button class="seedExit" onclick="closePopup('seedPopup{{ seed.id }}')">Exit</button>
        </div>
    </div>
    {% endfor %}