{% extends "layout.html" %}
{% block title %}
My Plants
{% endblock %}
{% block content %}
<!-- Header for Seed Plant page -->
<div class="seedPlantHeader">
    <div class="seedItemButton">
        <button class="button" onclick="openPopup('addPlantPopup')">Add Plant</button>
    </div>
    <div class="seedItemButton">
        <button type="button" class="button" onclick="removeSelectedPlants()">Remove Plants</button>
    </div>
    <div class="refineSeed">
        <select id="plantRefine" name="plantRefine">
            <option value="" disabled selected hidden>Refine Plants</option>
            <option value="All">All Plants</option>
            {% for plant in user_plants %}
                <option value="{{ plant.plantType }}">{{ plant.plantType }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="searchBar">
        <input type="text" id="plantSearchBar" placeholder="Search..">
    </div>
</div>
<div id="myPlantsContainer">
    <!-- Basic Info Button and Checkbox -->
    {% for plant in user_plants %}
    <div class="BasicInfo">
        <button class="InfoButton" onclick="openPopup('plantPopup{{ plant.id }}')">
            <div class="infoDetails">
                <p>{{ plant.plantName }}</p>
            </div>
            <div class="infoDetails" id="typeOfPlant">
                <p>{{ plant.plantType }}</p>
            </div>
            <div class="infoDetails">
                <p>{{ plant.plantPlacement }}</p>
            </div>
        </button>
        <input type="checkbox" name="marked_plant" id="plant_{{ plant.id }}" value="{{ plant.id }}" onchange="updateCheckedPlants('{{ plant.id }}')">
    </div>

    <!-- Plant Information Popup -->
    <div class="plantPopup" id="plantPopup{{ plant.id }}">
        <h2>{{ plant.plantName }}</h2>
        <div class="infoContainerPlant">
            <div class="infoBackground"><p><b>Date Planted:</b> {{ plant.plantDate }}</p></div>
            {% if plant.newSeedling == 0 %}
                <div class="infoBackground"><p><b>Date of Germination:</b> {{ plant.germinationDate }}</p></div>
            {% else %}
                <div class="infoBackground"><p><b>New Seedling</b></p></div>
            {% endif %}
            <div class="infoBackground"><p><b>Maturity Date:</b> {{ plant.maturityDate}}</p></div>
            <div class="infoBackground"><p><b>Plant Type:</b> {{ plant.plantType }}</p></div>
            <div class="infoBackground"><p><b>Sun Requirement:</b> {{ plant.plantSunRequirement }}</p></div>
            <div class="infoBackground"><p><b>Planted in:</b> {{ plant.plantPlacement}}</p></div>
            <button class="seedExit" onclick="closePopup('plantPopup')">Remove</button>
            <button class="seedExit" onclick="closePopup('plantPopup{{ plant.id }}')">Exit</button>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Add Plant Popup -->
<div class="addPlantPopup" id="addPlantPopup">
    <div class="tabPopup" onclick="showTab('seedLibraryTab')">From Seed Library</div>
    <div class="tabPopup" onclick="showTab('seedlingTab')">New Seedling</div>
    <div id="seedLibraryTab" class="tabPopup-content activeTab">
        <div class="seedLibraryTabLayout">
            <form id="addPlantSeed" onsubmit="submitSeedForm(); return false;">
                <select id="newPlantType" onchange="updateSeedNames()">
                    <option value="" disabled selected hidden>Type of Plant</option>
                    {% for seed in user_seeds %}
                        <option value="{{ seed.seedType }}">{{ seed.seedType }}</option>
                    {% endfor %}
                </select>
                <select id="newPlantName">
                    <option value="" disabled selected hidden>Seed Name</option>
                    <!-- this area is populated by js -->
                </select>
                <input type="date" id="seedPlantDate" name="seedPlantDate">
                <select id="seedPlantPlace" name="seedPlantPlace">
                    <option value="" disabled selected hidden>Plant Placement</option>
                    <option value="Seedling Tray">Seedling Tray</option>
                    <option value="Small Pot">Small Pot</option>
                    <option value="Large Pot">Large Pot</option>-=9
                    <option value="Raised Bed">Raised Bed</option>
                    <option value="Garden">Garden</option>
                </select>
                <button type="submit" class="newPlantButton">Submit</button>
            </form>
            <button class="newPlantButton" onclick="closeAddPlantPopup('addPlantPopup')">Exit</button>
        </div>
    </div>
    <div id="seedlingTab" class="tabPopup-content">
        <form id="addPlantSeedling" action="/add_plant" method="post" onsubmit="submitForm(); return false;">
            <input type="text" id="seedlingPlantName" placeholder="Enter Plant Name" required>
            <input type="text" id="seedlingPlantType" placeholder="Type of Plant" required>
            <input type="date" id="seedlingPlantDate" placeholder="Plant Date" required>
            <input type="text" id="seedlingmaturityTime" placeholder="How long for plant Maturity" required>
            <select id="seedlingSunRequirement" name="seedlingSunRequirement">
                <option value="" disabled selected hidden>Sun Requirement</option>
                <option value="Full Sun">Full Sun</option>
                <option value="Part Sun">Part Sun</option>
                <option value="Shade">Shade</option>
            </select>
            <select id="seedlingPlantPlace" name="seedlingPlantPlace">
                <option value="" disabled selected hidden>Plant Placement</option>
                <option value="Seedling Tray">Seedling Tray</option>
                <option value="Small Pot">Small Pot</option>
                <option value="Large Pot">Large Pot</option>
                <option value="Raised Bed">Raised Bed</option>
                <option value="Garden">Garden</option>
            </select>
            <button type="submit" class="newPlantButton">Submit</button>
        </form>
        <button class="newPlantButton" onclick="closeAddPlantPopup('addPlantPopup')">Exit</button>
    </div>
</div>

<script>
    function openPopup(popupId) {
        document.getElementById(popupId).classList.add("open-plantPopup");
    }
    function closePopup(popupId) {
        document.getElementById(popupId).classList.remove("open-plantPopup");
    }
    function closeAddPlantPopup() {
        addPlantPopup.classList.remove("open-plantPopup");
        location.reload();
    }

    function showTab(tabId) {
        // Hide all tabs
        document.querySelectorAll('.tabPopup-content').forEach(tab => {
            tab.classList.remove('activeTab');
        });
        // Show the selected tab
        document.getElementById(tabId).classList.add('activeTab');
    }

    function updateSeedNames() {
        // Get the selected plant type
        var selectedPlantType = document.getElementById("newPlantType").value;

        // Get the dropdown for seed names
        var seedNameDropdown = document.getElementById("newPlantName");

        // Clear existing options
        seedNameDropdown.innerHTML = '<option value="" disabled selected hidden>Seed Name</option>';

        // Fetch seed names based on the selected plant type
        fetch(`/get_seeds/${selectedPlantType}`)
            .then(response => response.json())
            .then(data => {
                // Populate with options based on the fetched seed names
                console.log('Fetched Data:', data);
                data.forEach(seed => {
                    console.log('Seed Name:', seed.name);
                    seedNameDropdown.innerHTML += `<option value="${seed.name}">${seed.name}</option>`;
                });
            })
            .catch(error => console.error('Error:', error));
    }

    function submitSeedForm() {
        const form = document.getElementById('addPlantSeed');
        const formData = new FormData(form);

        // Get inputs from form
        const selectedPlantType = document.getElementById("newPlantType").value;
        const selectedSeedName = document.getElementById("newPlantName").value;
        const selectedDate = document.getElementById("seedPlantDate").value;
        const selectedPlace = document.getElementById("seedPlantPlace").value;

        // Append to formData
        formData.append('selectedPlantType', selectedPlantType);
        formData.append('selectedSeedName', selectedSeedName)
        formData.append('selectedDate', selectedDate);
        formData.append('selectedPlace', selectedPlace);

        // Make an AJAX request to submit the form data
        fetch('/addSeedPlant', {
            method: 'POST',
            body: formData
        }).then(response => {
            console.log(response);
        }).catch(error => {
            console.error('Error:', error);
        });
    }

    function submitForm() {
        const form = document.getElementById('addPlantSeedling');                   //Gets form element with the id 'addPlantSeedling'
        const formData = new FormData(form);                                        //Creates new FormData object from the form

        // Get inputs from form
        const inputIds = ['seedlingPlantName', 'seedlingPlantType', 'seedlingPlantDate', 'seedlingmaturityTime', 'seedlingSunRequirement', 'seedlingPlantPlace'];

        // Append to formData
        inputIds.forEach(id => {
            const value = document.getElementById(id).value;
            formData.append(id, value);
        });

        // Make an AJAX request to submit the form data
        fetch('/add_plant', {
            method: 'POST',                         //Specifies HTTP method as POST
            body: formData                          //Sets request body to the FormData object
        }).then(response => {
            console.log(response);                  //Logs response to the console
        }).catch(error => {
            console.error('Error:', error);         //Logs error message to console if there is an error
        })
    }


    // Functions for Checkboxes:
    var checkedPlants = [];
    function updateCheckedPlants(plantId) {
        // Parse plantId as an integer if needed
        plantId = parseInt(plantId, 10);
        var index = checkedPlants.indexOf(plantId);
        if (index === -1) {
            checkedPlants.push(plantId);
        } else {
            checkedPlants.splice(index, 1);
        }
    }
    function removeSelectedPlants() {
        fetch('/remove_plants', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ plantIds: checkedPlants })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                console.error('Failed to remove plants.');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    // For refine dropdown and search bar:

    // Event listener for when the DOM content is fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        const plantRefineDropdown = document.getElementById('plantRefine');
        plantRefineDropdown.addEventListener('change', function() {
            const selectedType = this.value;

            // Make an AJAX request to the server
            fetch(`/filter_plants?type=${selectedType}`)
                .then(response => response.json())
                .then(data => {
                    // Update myPlantsContainer with the new data
                    const myPlantsContainer = document.getElementById('myPlantsContainer');
                    myPlantsContainer.innerHTML = data.html;
                })
                .catch(error => console.error('Error:', error));
        });
    });

    // Event listener for when the DOM content is fully loaded
    document.addEventListener("DOMContentLoaded", function () {
        //Function to show and hide plants based on selected plant type
        function filterPlantsByType(selectedType) {
            const plants = document.querySelectorAll('.BasicInfo');

            // Iterate over each Plant and check if type matches
            plants.forEach(plant => {
                const typeElement = plant.querySelector('.infoDetails [id="typeOfPlant"]');
                const typeClass = typeElement ? typeElement.innerText : '';
                plant.style.display = selectedType === 'All Plants' || typeClass.includes(selectedType) ? '' : 'none';
            });
        }

        // Attach event listener to the Plant refine dropdown
        const plantRefineDropdown = document.getElementById('plantRefine');
        plantRefineDropdown.addEventListener('change', function () {
            const selectedType = this.value;
            filterPlantsByType(selectedType);
        });

        //function to filter plants based on the search input
        function filterPlantsBySearch(searchValue) {
            const plants = document.querySelectorAll('.BasicInfo');
            plants.forEach(plant => {
                const plantDetails = plant.textContent.toLowerCase();
                plant.style.display = plantDetails.includes(searchValue.toLowerCase()) ? '' : 'none';
            });
        }

        // Attach event listener to the plantSearchBar input
        const plantSearchBar = document.getElementById('plantSearchBar');
        plantSearchBar.addEventListener('input', function() {
            const searchValue = this.value;
            filterPlantsBySearch(searchValue);
        });

        // Initial filtering based on the default value of the plantRefine dropdown
        const initialSelectedType = plantRefineDropdown.value;
        filterPlantsByType(initialSelectedType);

    });
</script>
{% endblock %}