{% extends "layout.html" %}
{% block title %}
My Plants
{% endblock %}
{% block content %}
<p>This is the my plants page</p>
<div class="seedPlantHeader">
    <div class="addButton">
        <button class="button addPlantButton">Add Plant</button>
    </div>
    <div class="removeButton">
        <button class="button removePlantButton">Remove Plant</button>
    </div>
    <div class="refineButton">
        <button class="button refinePlantButton">Refine Options</button>
    </div>
    <div class="searchBar">
        <input type="text" placeholder="Search..">
    </div>
</div>
{% endblock %}