{% extends "layout.html" %}
{% block title %}
Seed Library
{% endblock %}
{% block content %}
<p>This is the seed library page</p>
<div class="seedHeader">
    <div class="addSeed">
        <button class="button addSeedButton">Add Seed</button>
    </div>
    <div class="removeSeed">
        <button class="button removeSeedButton">Remove Seed</button>
    </div>
    <div class="seedRefine">
        <p>Refine Options</p>
    </div>
    <div class="seedSearch">
        <input type="text" placeholder="Search..">
    </div>
</div>
{% endblock %}